[alias]
    cc = !bash "$(dirname "$(git config --get include.path)")/bin/conventional-commit.sh"
    start-branch = !bash "$(dirname "$(git config --get include.path)")/bin/start-branch.sh"
    open-pr = !bash "$(dirname "$(git config --get include.path)")/bin/open-pr.sh"
    # Add more aliases here as needed
